
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Artikel Terkait</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p><strong>Inkscape Untuk Keseharian Organisasi</strong>.</p>
      <p>Berikut ini adalah kumpulan artikel,
      dengan kualitas mutu <i>mediocre</i> yang biasa-biasa.
      Namun bisa jadi bermanfaat bagi kegiatan organisasi sehari-hari,
      misalnya untuk organisasi kealumnian.</p>

      <ul class="widget-list">
        <li><a href="{{ "/inkscape/2014/07/07/jadwal-kegiatan.html" | url }}"
              >Inkscape - Pengumuman Jadwal Kegiatan</a></li>
        <li><a href="{{ "/inkscape/2014/12/12/infografis-pasal.html" | url }}"
              >Inkscape - Infografis Pasal</a></li>
        <li><a href="{{ "/inkscape/2014/10/10/tablet-panitia.html" | url }}"
              >Inkscape - Tablet Panitia</a></li>
        <li><a href="{{ "/inkscape/2015/06/06/logo-tidak-resmi.html" | url }}"
              >Inkscape - Logo Tidak Resmi Alumni</a></li>
        <li><a href="{{ "/inkscape/2015/08/08/spanduk-kegiatan.html" | url }}"
              >Inkscape - Spanduk Kegiatan</a></li>
        <li><a href="{{ "/inkscape/2015/08/17/undangan-kegiatan.html" | url }}"
              >Inkscape - Undangan Kegiatan</a></li>
        <li><a href="{{ "/inkscape/2015/09/03/logo-perangko.html" | url }}"
              >Inkscape - Logo Perangko</a></li>
        <li><a href="{{ "/inkscape/2015/09/11/poster-perangko-serbaguna.html" | url }}"
              >Inkscape - Poster Perangko Serbaguna</a></li>
        <li><a href="{{ "/inkscape/2015/10/10/klip-objek.html" | url }}"
              >Inkscape - Klip Objek</a></li>
        <li><a href="{{ "/inkscape/2015/10/20/poster-diskusi-lagi.html" | url }}"
              >Inkscape - Poster Diskusi Lagi</a></li>
        <li><a href="{{ "/inkscape/2015/11/11/infografis-isometrik.html" | url }}"
              >Inkscape - Infografis Isometris</a></li>
        <li><a href="{{ "/inkscape/2016/02/21/gerakan-anti-korupsi.html" | url }}"
              >Inkscape - Gerakan Anti Korupsi</a></li>
        <li><a href="{{ "/inkscape/2016/07/07/proses-munas.html" | url }}"
              >Inkscape - Proses Munas</a></li>
        <li><a href="{{ "/inkscape/2016/11/01/fitur-teks.html" | url }}"
              >Inkscape - Fitur Teks</a></li>
        <li><a href="{{ "/inkscape/2016/11/15/logo-mesin-whatsapp.html" | url }}"
              >Inkscape - Logo Mesin Whatsapp</a></li>
        <li><a href="{{ "/inkscape/2017/11/21/selamat-dekan-terpilih.html" | url }}"
              >Inkscape - Selamat Dekan Terpilih</a></li>
        <li><a href="{{ "/inkscape/2017/11/25/eksperimen-woro-woro.html" | url }}"
              >Inkscape - Eksperimen Woro-Woro</a></li>
      </ul>
    </div>
  </div>
