
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Artikel Terkait</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p><strong>Inkscape Untuk Kegiatan Sehari-hari</strong>.</p>
      <p>Berikut ini adalah kumpulan artikel,
      dengan kualitas mutu <i>mediocre</i> yang biasa-biasa.
      Namun bisa jadi bermanfaat bagi kegiatan sehari-hari.</p>

      <ul class="widget-list">
        <li><a href="{{ "/inkscape/2015/09/06/vexel-jiplak-wajah.html" | url }}"
              >Inkscape - Jiplak Wajah Jadi Vexel</a></li>
        <li><a href="{{ "/inkscape/2016/10/03/gambar-latar-isometrik-datar.html" | url }}"
              >Inkscape - Gambar Latar Isometrik Datar</a></li>
        <li><a href="{{ "/inkscape/2017/10/03/kartu-nama.html" | url }}"
              >Inkscape - Kartu Nama</a></li>
        <li><a href="{{ "/inkscape/2017/11/15/animasi-cincin.html" | url }}"
              >Inkscape - Animasi Cincin</a></li>
        <li><a href="{{ "/inkscape/2018/11/18/gambar-latar-desain-material.html" | url }}"
              >Inkscape - Gambar Latar Desain Material Design</a></li>
        <li><a href="{{ "/inkscape/2020/08/16/poster-17an.html" | url }}"
              >Inkscape - Kartu Ucapan HUT RI</a></li>
        <li><a href="{{ "/inkscape/2020/08/24/peta-lingkungan.html" | url }}"
              >Inkscape - Peta Lingkungan</a></li>

        <li><a href="{{ "/inkscape/2020/09/21/inkscape-impress-slides-01.html" | url }}"
              >Inkscape - Slide Impress - Bagian Satu</a></li>
        <li><a href="{{ "/inkscape/2020/09/22/inkscape-impress-slides-02.html" | url }}"
              >Inkscape - Slide Impress - Bagian Dua</a></li>
        <li><a href="{{ "/inkscape/2020/09/23/inkscape-impress-slides-03.html" | url }}"
              >Inkscape - Slide Impress - Bagian Tiga</a></li>
        <li><a href="{{ "/inkscape/2020/09/24/inkscape-impress-slides-04.html" | url }}"
              >Inkscape - Slide Impress - Bagian Empat</a></li>
        <li><a href="{{ "/inkscape/2020/09/25/inkscape-impress-slides-05.html" | url }}"
              >Inkscape - Slide Impress - Bagian Lima</a></li>

        <li><a href="{{ "/inkscape/2020/09/27/sozi-animasi-01.html" | url }}"
              >Inkscape - Animasi Sozi - Bagian Satu</a></li>
        <li><a href="{{ "/inkscape/2020/09/28/sozi-animasi-02.html" | url }}"
              >Inkscape - Animasi Sozi - Bagian Dua</a></li>
        <li><a href="{{ "/inkscape/2020/09/29/sozi-animasi-01.html" | url }}"
              >Inkscape - Animasi Sozi - Bagian Tiga</a></li>
      </ul>
    </div>
  </div>

  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header green lighten-4">

      <strong>Ruang Diskusi</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body green lighten-5">
      <ul class="widget-list">
        <li>Inkscape: <a href="https://t.me/gimpscape">@gimpscape</a></li>
        <li>Impress: <a href="https://t.me/LibreOfficeID">@LibreOfficeID</a></li>        
      </ul>
    </div>
  </div>
