
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Artikel Terkait</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <ul class="widget-list">
        <li><a href="{{ "/pajak/2019/08/12/kup-fase-perpajakan.html" | url }}"
              >KUP - Fase Perpajakan</a></li>
        <li><a href="{{ "/pajak/2019/08/16/kup-contoh-perhitungan.html" | url }}"
              >KUP - Contoh Perhitungan</a></li>
        <li><a href="{{ "/pajak/2019/09/01/op-kategori-pph.html" | url }}"
              >OP - Kategori PPh</a></li>
        <li><a href="{{ "/pajak/2019/09/02/op-tarif-pph.html" | url }}"
              >OP - Tarif PPh</a></li>
        <li><a href="{{ "/pajak/2019/09/03/op-surat-pemberitahuan.html" | url }}"
              >OP - Surat Pemberitahuan</a></li>
        <li><a href="{{ "/pajak/2019/09/04/op-kategori-wp.html" | url }}"
              >OP - Kategori Wajib Pajak</a></li>
        <li><a href="{{ "/pajak/2019/09/10/formula-tarif-progresif.html" | url }}"
              >Spreadsheet - Formula Tarif Progresif</a></li>
      </ul>

    </div>
  </div>

