
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Artikel Terkait</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <ul class="widget-list">
        <li><a href="{{ "/komunitas/2020/03/01/dotfiles-id.html" | url }}"
              >Pesan Tersemat - Dotfiles ID</a></li>
        <li><a href="{{ "/komunitas/2020/03/02/jamstack-id.html" | url }}"
              >Pesan Tersemat - JAM Stack ID</a></li>
        <li><a href="{{ "/komunitas/2020/03/03/css-id.html" | url }}"
              >Pesan Tersemat - Pecinta CSS ID</a></li>
        <li><a href="{{ "/komunitas/2020/03/04/html-id.html" | url }}"
              >Pesan Tersemat - HTML ID</a></li>
        <li><a href="{{ "/komunitas/2020/03/05/bootstrap-id.html" | url }}"
              >Pesan Tersemat - Bootstrap ID</a></li>
      </ul>

    </div>
  </div>

