---
layout    : home
eleventyExcludeFromCollections: true
color     : blue-grey
---

  <br/>

  <p>
    <a class="button is-dark
    blue-grey darken-2 hoverable m-b-5"
       href="{{ "/pages/archive-by-month/" | url }}"
      ><span class="is-hidden-mobile">Articles Sorted&nbsp;</span>
        by Month</a>
    <a class="button is-dark
    blue-grey darken-1 hoverable m-b-5"
       href="{{ "/tag/" | url }}"
      ><span class="is-hidden-mobile">Articles Sorted&nbsp;</span>
        by Tag</a>
  </p>
  
  <blockquote>
    Kamu saja tidak tahu, apalagi aku.
  </blockquote>

  <p>Blog pribadi ini isinya campursari berbagai topik,
  yang tidak semuanya menarik.</p>

  <hr/>

  <div class="justify-content-center">
    <img src="{{ "/assets/images/authors/saya-vexel.png" | url }}" 
         class="bio-photo" 
         alt="epsi bio photo">
  </div>

  <p>Salam kenal,
  walaupun aku penikmat musik koplo,
  dan lagu-lagu perbucinan,
  namun aku tidak pandai menepuk kendhang.</p>

  <hr/>

  <div class="notification is-warning">
    Siapapun dapat menjadi pembawa virus covid-19.
  </div>

  <div class="justify-content-center">
  <img src="{{ "/assets/images/social-distancing.jpg" | url }}" 
       alt="Bukan berarti hanya rebahan di rumah."></a>
  </div>

  <div class="notification is-warning">
    Jaga Jarak.
    Jangan ikut-ikutan menjadi penyebar wabah.
  </div>

  <hr/>
  <p>
    Blog aku yang lain:</p>

  <p>
    <a class="button is-dark
    blue-grey darken-3 hoverable m-b-5"
       href="http://epsi-rns.github.io/">
        <span class="is-hidden-mobile">Linux/BSD:&nbsp;</span>
        Desktop Customization
      </a>
    <a class="button is-dark
    blue-grey darken-1 hoverable m-b-5"
       href="http://epsi-rns.gitlab.io/">
        Web/Mobile
        <span class="is-hidden-mobile">&nbsp;Development Blog</span>
      </a>
    <a class="button is-dark
    blue-grey darken-2 hoverable m-b-5"
       href="http://epsi.bitbucket.io/">
        Functional Programming
        <span class="is-hidden-mobile">&nbsp;and Data Science</span>
      </a>
  </p>

