{% extends "layouts/column-single.njk" %}

{% block main_color %}{{ color or 'brown' }}{% endblock %}

{% block pagination %}  
  {% set color = color or 'brown' %}
  {% include "pagination/06-screenreader.njk" %}

  <div class="has-text-centered">
    <img src="{{ "/assets/images/authors/epsi-2021-bocah-bulat-cilik.png" | url }}" 
         class="bio-photo animate__animated animate__pulse animate__hover"
         alt="epsi bio photo">
  </div>  
{% endblock %}

{% block pagination_all %}  
  {% include "pagination/01-simple.njk" %}
  {% include "pagination/02-number.njk" %}
  {% include "pagination/03-adjacent.njk" %}
  {% include "pagination/04-indicator.njk" %}
  {% include "pagination/05-responsive.njk" %}
  {% include "pagination/06-screenreader.njk" %}
{% endblock %}
