{% extends "layouts/base.njk" %}

{% block main %}
  {%- set color %}{{ color or 'blue-grey' }}{% endset -%}
  <main role="main" 
        class="column is-full">

    <div class="animate__animated animate__observe"
         data-animate="rubberBand"
          id="sitedesc_image"></div>

    <section class="main-wrapper {{ color }}">
      <div class="blog white z-depth-3 hoverable">

        <article class="columns is-centered blog-body has-text-centered"
                 itemprop="articleBody">
          <div class="column is-half blog-content">
            {{ content | safe }}
          </div>
        </article>

      </div>
    </section>

  </main>
{% endblock %}
