---
layout    : page
title     : Mengenai Tentang
color     : teal

numerator   : true
progressbar : true
---

<p>Banyak hal yang ingin kusampaikan di sini,
namun aku juga belum tahu mau memulai dari mana.</p>

{% include "toc/social-accounts.html" %}

<p>Hidup hanya sekali.
Ilmu yang sedikit, mesti buru-buru dibagi.
Walaupun diberi umur panjang.</p>

{% include "chunk/articles-count.html" %}

<p>Blog pribadi ini isinya campursari berbagai topik,
yang tidak semuanya menarik.</p>

{% include "chunk/barchart-count.html" %}

<p>Kalau lirik lagu koplo dan perbucinan, aku tidak punya</p>

<blockquote>
  Kamu saja tidak tahu, apalagi aku.
</blockquote>
