
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Artikel Terkait</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <ul class="widget-list">
        <li><a href="{{ "/pajak/2018/02/05/berkas-pajak-kelola.html" | url }}"
              >Berkas Pajak - Mengelola Arsip</a></li>
        <li><a href="{{ "/pajak/2018/02/07/berkas-pajak-softcopy.html" | url }}"
              >Berkas Pajak - Softcopy</a></li>
        <li><a href="{{ "/pajak/2018/02/09/berkas-pajak-bagan-akun.html" | url }}"
              >Berkas Pajak - Bagan Akun</a></li>

        <li><a href="{{ "/pajak/2018/03/15/berkas-pajak-ppn.html" | url }}"
              >Berkas Pajak - Arsip PPn</a></li>
        <li><a href="{{ "/pajak/2018/03/17/berkas-pajak-pph21.html" | url }}"
              >Berkas Pajak - Arsip PPh 21</a></li>
        <li><a href="{{ "/pajak/2018/03/19/berkas-pajak-pph42.html" | url }}"
              >Berkas Pajak - Arsip PPh 4(2)</a></li>
        <li><a href="{{ "/pajak/2018/03/21/berkas-pajak-pph23.html" | url }}"
              >Berkas Pajak - Arsip PPh 23</a></li>

        <li><a href="{{ "/pajak/2018/05/23/berkas-pajak-badan-tahunan.html" | url }}"
              >Berkas Pajak - Badan Tahunan</a></li>
        <li><a href="{{ "/pajak/2018/05/25/berkas-pajak-pendukung.html" | url }}"
              >Berkas Pajak - Pendukung</a></li>
        <li><a href="{{ "/pajak/2018/05/27/berkas-pajak-hardcopy.html" | url }}"
              >Berkas Pajak - Hardcopy</a></li>

        <li><a href="{{ "/pajak/2019/05/01/berkas-pajak-enofa.html" | url }}"
              >Berkas Pajak - e-Nofa</a></li>
        <li><a href="{{ "/pajak/2019/05/03/berkas-pajak-efaktur.html" | url }}"
              >Berkas Pajak - e-Faktur</a></li>
        <li><a href="{{ "/pajak/2020/11/05/berkas-pajak-ebupot.html" | url }}"
              >Berkas Pajak - e-Bupot PPh 23</a></li>
        <li><a href="{{ "/pajak/2020/12/07/berkas-pajak-web-efaktur.html" | url }}"
              >Berkas Pajak - Web e-Faktur</a></li>
        <li><a href="{{ "/pajak/2020/12/09/berkas-pajak-web-efaktur.html" | url }}"
              >Berkas Pajak - Pengisian Web e-Faktur</a></li>
        <li><a href="{{ "/pajak/2022/06/11/berkas-pajak-unifikasi.html" | url }}"
              >Berkas Pajak - e-Bupot Unifikasi</a></li>
        <li><a href="{{ "/pajak/2022/06/13/berkas-pajak-unifikasi.html" | url }}"
              >Berkas Pajak - Pengisian e-Bupot Unifikasi</a></li>
      </ul>

      <p><small><i>dasar tukang pamer! beginian ajah dijadiin artikel!</i></small></p>

    </div>
  </div>

