
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Artikel Terkait</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">
      <p>Dasar spreadsheed di bawah ini didedikasikan kepada,
         rekan-rekan karyawan yang berdinas sebagai staff admin,
         seperti saya.
         Microsoft Excel atau Libreoffice Calc.</p>
      <ul class="widget-list">
        <li><a href="{{ "/lembarkerja/2018/06/01/lembar-kerja-pengantar.html" | url }}"
              >Lembar Kerja - Pengantar</a></li>

        <li><a href="{{ "/lembarkerja/2018/06/03/lembar-kerja-number-01.html" | url }}"
              >Lembar Kerja - Tata Angka</a></li>
        <li><a href="{{ "/lembarkerja/2018/06/05/lembar-kerja-number-02.html" | url }}"
              >Lembar Kerja - Tata Rupiah</a></li>

        <li><a href="{{ "/lembarkerja/2018/07/07/lembar-kerja-format-01.html" | url }}"
              >Lembar Kerja - Ukuran Unit</a></li>
        <li><a href="{{ "/lembarkerja/2018/07/09/lembar-kerja-format-02.html" | url }}"
              >Lembar Kerja - Tips Format</a></li>
        <li><a href="{{ "/lembarkerja/2018/07/11/lembar-kerja-format-03.html" | url }}"
              >Lembar Kerja - Tata Warna</a></li>
        <li><a href="{{ "/lembarkerja/2018/07/13/lembar-kerja-format-04.html" | url }}"
              >Lembar Kerja - Tata Garis</a></li>

        <li><a href="{{ "/lembarkerja/2018/08/15/lembar-kerja-formula-01.html" | url }}"
              >Lembar Kerja - Rumus Dasar</a></li>
        <li><a href="{{ "/lembarkerja/2018/08/17/lembar-kerja-formula-02.html" | url }}"
              >Lembar Kerja - Tips Rumus</a></li>
        <li><a href="{{ "/lembarkerja/2018/08/19/lembar-kerja-formula-03.html" | url }}"
              >Lembar Kerja - Rumus Jumlah</a></li>
        <li><a href="{{ "/lembarkerja/2018/08/21/lembar-kerja-formula-04.html" | url }}"
              >Lembar Kerja - Rumus Acuan</a></li>

        <li><a href="{{ "/lembarkerja/2018/09/03/lembar-kerja-tabel-01.html" | url }}"
              >Lembar Kerja - Rancang Kolom</a></li>
        <li><a href="{{ "/lembarkerja/2018/09/05/lembar-kerja-tabel-02.html" | url }}"
              >Lembar Kerja - Tabel Isian</a></li>

        <li><a href="{{ "/lembarkerja/2018/09/13/lembar-kerja-form-01.html" | url }}"
              >Lembar Kerja - Rancang Form</a></li>
        <li><a href="{{ "/lembarkerja/2018/09/15/lembar-kerja-form-02.html" | url }}"
              >Lembar Kerja - Contoh Form</a></li>
        <li><a href="{{ "/lembarkerja/2018/09/17/lembar-kerja-report.html" | url }}"
              >Lembar Kerja - Contoh Laporan</a></li>

        <li><a href="{{ "/lembarkerja/2018/10/3/lembar-kerja-komunikasi.html" | url }}"
              >Lembar Kerja - Komunikasi</a></li>
        <li><a href="{{ "/lembarkerja/2018/10/5/lembar-kerja-laporan.html" | url }}"
              >Lembar Kerja - Laporan</a></li>

        <li><a href="{{ "/lembarkerja/2018/10/7/lembar-kerja-pivot.html" | url }}"
              >Lembar Kerja - Pivot</a></li>
        <li><a href="{{ "/lembarkerja/2018/10/9/lembar-kerja-makro.html" | url }}"
              >Lembar Kerja - Otomasi Makro</a></li>
      </ul>

      <p><small><i>dasar tukang pamer! beginian ajah dijadiin artikel!</i></small></p>

    </div>
  </div>

