
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Artikel Terkait</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <ul class="widget-list">
        <li><a href="{{ "/matematika/2020/01/10/latex-rumus.html" | url }}"
              >LaTeX - Menulis Rumus</a></li>
        <li><a href="{{ "/matematika/2020/01/12/python-matplotlib.html" | url }}"
              >Python - Matplotlib</a></li>
        <li><a href="{{ "/matematika/2020/02/02/statistik-dotplot.html" | url }}"
              >Statistik - Dotplot</a></li>
      </ul>
      
      <p><small><i>dasar tukang pamer! beginian ajah dijadiin artikel!</i></small></p>

    </div>
  </div>

