
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Artikel Terkait</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <ul class="widget-list">
        <li><a href="{{ "/silsilah/2017/01/23/gitodipuro-rewrite.html" | url }}"
              >Silsilah - Gitodipuro Rewrite</a></li>
        <li><a href="{{ "/silsilah/2017/02/17/catatan-keluarga.html" | url }}"
              >Silsilah - Catatan Keluarga</a></li>

        <li><a href="{{ "/silsilah/2017/10/22/sayidina.html" | url }}"
              >Silsilah - Sayidina</a></li>
        <li><a href="{{ "/silsilah/2017/12/10/kalioso-nitimenggolo.html" | url }}"
              >Kalioso - Nitimenggolo</a></li>
        <li><a href="{{ "/silsilah/2018/08/27/retnosari-tondonegoro.html" | url }}"
              >Silsilah - Retnosari Tondonegoro </a></li>
        <li><a href="{{ "/silsilah/2019/08/18/kalioso-kartotaruno.html" | url }}"
              >Kalioso - Kartotaruno</a></li>
      </ul>

    </div>
  </div>

