
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Artikel Terkait</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <p>Artikel-artikel di bawah ini didedikasikan kepada,
         rekan-rekan karyawan yang berdinas sebagai staff admin,
         seperti saya.</p>
      <ul class="widget-list">
        <li><a href="{{ "/tatausaha/2017/03/07/surat-rapi-dengan-tabel.html" | url }}"
              >Surat - Rapi Dengan Tabel </a></li>

        <li><a href="{{ "/tatausaha/2022/05/09/mengenal-inkscape.html" | url }}"
              >Inkscape - Mengenal Inkscape </a></li>
      </ul>
      
      <p><small><i>dasar tukang pamer! beginian ajah dijadiin artikel!</i></small></p>

    </div>
  </div>

