
  <script type="text/javascript">
  const menuToObserve = document.querySelectorAll(".animate__observe__menu");
  const archiveToObserve = document.querySelectorAll(".animate__observe__archive");

  let menuObserver = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.intersectionRatio > 0) {
        entry.target.classList.add('animate__swing');
      } else {
        entry.target.classList.remove('animate__swing');
      }
    });
  });

  let archiveObserver = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.intersectionRatio > 0) {
        entry.target.classList.add('animate__zoomIn');
      } else {
        entry.target.classList.remove('animate__zoomIn');
      }
    });
  });

  menuToObserve.forEach((element) => {
    menuObserver.observe(element);
  });

  archiveToObserve.forEach((element) => {
    archiveObserver.observe(element);
  });
  </script>
